# Wonderland CLI npm package - EXCLUDE EVERYTHING EXCEPT WHAT WE WANT
# Only include these files for npm:
# .npmignore
# CHANGELOG.md
# index.js
# LICENSE
# package-lock.json
# package.json
# README.md
# setup.sh

# Exclude everything else
*

# But include the specific files we want
!.npmignore
!CHANGELOG.md
!index.js
!LICENSE
!package-lock.json
!package.json
!README.md
!setup.sh
!legaldocuments/
!legaldocuments/*
!plugins/
!plugins/*
# !images/
# !images/* 
!releasenotes/v.1.3.0/*
!releasenotes/v.1.2.5/*
!releasenotes/v.1.2.4/*
!releasenotes/v.1.2.3/*
!releasenotes/v.1.2.2/*